<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.tmdbproyectofinal">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TMDBProyectoFinal"
        tools:targetApi="31">
        <activity
            android:name=".TvMenus.EpisodeDetails"
            android:exported="false" />
        <activity
            android:name=".TvMenus.SeriesEpisodes"
            android:exported="false" />
        <activity
            android:name=".TvMenus.SeriesSeasons"
            android:exported="false" />
        <activity
            android:name=".TvMenus.IndividualSeries"
            android:exported="false" />
        <activity
            android:name=".MoviesMenus.RelatedMovies"
            android:exported="false" />
        <activity
            android:name=".MoviesMenus.IndividualMovie"
            android:exported="false" />
        <activity
            android:name=".MoviesMenus.NowPlayingMovies"
            android:exported="false" />
        <activity
            android:name=".TvMenus.OnTheAirTv"
            android:exported="false" />
        <activity
            android:name=".TvMenus.TopRatedTv"
            android:exported="false" />
        <activity
            android:name=".TvMenus.LatestTv"
            android:exported="false" />
        <activity
            android:name=".TvMenus.PopularTv"
            android:exported="false" />
        <activity
            android:name=".MoviesMenus.UpcomingMovies"
            android:exported="false" />
        <activity
            android:name=".MoviesMenus.TopRatedMovies"
            android:exported="false" />
        <activity
            android:name=".MoviesMenus.PopularMovies"
            android:exported="false" />
        <activity
            android:name=".TvMenus.TvMainMenu"
            android:exported="false" />
        <activity
            android:name=".MoviesMenus.MoviesMainMenu"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>